* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    padding: 29px 15px 40px 15px;
}

.table {
    width: 100%;
    max-width: 1920px;
    border-collapse: collapse;
}

.table__caption {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.44rem;
    text-align: left;
    color: #404040;
}

.table__head {
    position: relative;
    background-color: #F5F5F5;
    border-spacing: 0;
    overflow: hidden;
}

.table__head::after {
    content: '';
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0; 
    right: 0; 
    bottom: 0;
    height: 2px;
    width: 98%;
    background-color: #E8E8E8;
}

.table__head tr:first-child th:first-child {
    border-radius: 20px 0 0 20px;
}

.table__head tr:first-child th:last-child {
    border-radius: 0 20px 20px 0;
}

.table__cell {
    position: relative;
    width: 90px;
    padding: 25px 22px 10px 21px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
    text-align: center;
    color: #404040;
}

.table__cell:first-child {
    padding: 25px 22px 10px 30px;
}

.table__cell:last-child {
    padding: 25px 27px 10px 30px;
}

.table__cell::before {
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    left: 0;
    width: 2px;
    height: 35px;
    background-color: #E9E9E9;
}

.table__cell:first-child::before {
    display: none;
}

.table__cell--combined-top {
    padding: 25px 22px 0 21px;
}

.table__cell--combined-bottom {
    width: 80px;
    padding:0 0 10px 0;
    font-size: 0.94rem;
    line-height: 1.06rem;
    color: #9B9B9B;
}

.table__cell--combined-bottom::before {
    display: none;
}

.table__cell--combined-bottom:first-child {
    padding: 0 0 10px 0;
}

.table__cell--combined-bottom:last-child {
    padding: 0 0 10px 0;
}

.table__cell-content {
    padding: 30px 22px 10px 21px;
}

.table__cell-content::before {
    top: 15px;
}

.cargo-info {
    margin-top: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cargo-info__box {
    width: 233px;
    height: 124px;
    position: relative;
    background-image: url("./img/box.svg");
    background-size: cover;
    background-repeat: no-repeat;
}


.cargo-info__boxes {
    width: 297px;
    height: 139px;
    padding-top: 29px;
    position: relative;
    background-image: url("./img/boxes.svg");
    background-size: 297px 123px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cargo-info__weight {
    position: absolute;
    top: 50px;
    left: 46px;
}

.cargo-info__weight-icon::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 15px;
    margin-right: 7px;
    background-image: url("./img/kg.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.cargo-info__prop {
    position: absolute;
    font-size: 0.875rem;
    font-weight: 700;
    color: #58595B;
    line-height: 1rem;
}

.cargo-info__prop--big {
    font-size: 1.25rem;
    letter-spacing: 0.01em;
    white-space: nowrap;
}

.cargo-info__volume {
    top: 52px;
    left: 133px;
}

.cargo-info__width {
    right: 169px;
    bottom: -8px;
    white-space: nowrap;
}

.cargo-info__height {
    top: 45px;
    left: 230px;
}

.cargo-info__depth {
    bottom: -8px;
    left: 190px;
}

.cargo-info__count {
    bottom: 146px;
    left: 140px;
}

.cargo-info__name {
    top: 27px;
    left: 124px;
}

.cargo-info__kg {
    top: 88px;
    left: 128px;
    background-color: #FFF;
}